div {
  margin-left: 20%;
  padding-bottom: 10px;
}
h2{
  margin-left: 37%;
}
mat-form-field {
  width: 310px;
}
button {
  margin-left: 15px;
}
mat-radio-button {
  margin-left: 15px;
  padding: 10px;
}
